<div class="container-fluid">
    <div class="timeline">
        <ul>

            <li>
                <div class="timeline-content">
                    <h2 class="date">1st september 2011 - 31st june 2017</h2>
                    <h1>Secondary education</h1>
                    <p>
                        I first started studying Latin and Science for 4 years. Then in my final 2 years I studied Science and Mathematics.
                    </p>
                </div>
            </li>

            <li>
                <div class="timeline-content">
                    <h2 class="date">21st september 2018 -TBD</h2>
                    <h1>Higher education</h1>
                    <p>
                        In 2018 I started my bachelor in applied computer science at Hogeschool Vives Kortrijk. My specialization is software development.
                    </p>
                </div>
            </li>

            <li>
                <div class="timeline-content">
                    <h2 class="date">1st july 2020 - 1st august 2020</h2>
                    <h1>Internship Skyline Communications</h1>
                    <p>
                        In the summer of 2020 I did a 1 month internship at Skyline Communications in Izegem. I worked in the QA. I created automated tests with Ranorex.
                    </p>
                </div>
            </li>

            <li>
                <div class="timeline-content">
                    <h2 class="date">22nd march 2021 - TBD</h2>
                    <h1>Internship Sundo</h1>
                    <p>
                        At the moment I'm doing an internship at Sundo in Kortrijk. I'll be working as a frontend developer.
                    </p>
                </div>
            </li>
            
        </ul>
    </div>
</div>