<div class="container-fluid row">
    <ul>
        <p>Skills - Frontend</p>
        <li style="margin-top: 0;" class="html">HTML5</li>
        <li class="css">CSS3</li>
        <li class="js">JavaScript</li>
        <li class="ng">Angular</li>
        <li class="kotlin">Kotlin</li>
        <li class="swift">Swift</li>
        <li class="reactNative">React-native</li>
    </ul>
    <ul>
        <p>Skills - Backend</p>
        <li style="margin-top: 0;" class="html">ASP.NET</li>
        <li class="js">Spring Boot</li>
    </ul>
</div>
