<div class="container-fluid">
      <img class="profileImage" src="/assets/images/ProfilePicture.jpg" height="300" width="300"/>
      <div class="row">
          <div class="informationContainer">
            <p>AGE: 22</p>
            <p>PHONE: 04 88 98 87 80</p>
            <p>EMAIL: faroukh.davouzov@hotmail.com</p>
          </div>
      </div>
      <div>
        <a href="https://www.facebook.com/faroukh.davouzov.9/"><img class="image" src="/assets/images/facebook.png" height="40" width="40"/></a>
        <a href="https://github.com/FaroukhDavouzov"><img class="image" src="/assets/images/github.png" height="40" width="40"/></a>
        <a href="https://www.linkedin.com/in/faroukh-davouzov-6932201a1/"><img class="image" src="/assets/images/linkedin.png" height="40" width="40"/></a>
      </div>
</div>


